# Node.js 
node_modules/ 

# Registros 
logs 
*.log 
npm-debug.log* 

# Directorios de dependencia 
pids 
logs 
*.pid 
*.seed 
*.pid.lock 

# Directorio de caché npm opcional 
.npm 

# Caché eslint opcional 
.eslintcache 

# Historial de REPL opcional 
.node_repl_history 

# Variables de entorno 
.env*